{
  "swagger": "2.0",
  "info": {
    "title": "Consumer Data Right (CDR) Register Discovery API",
    "version": "0.3"
  },
  "host": "api.discovery.cdr.gov.au",
  "basePath": "/cds-register/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/register/holders": {
      "get": {
        "description": "Get Register Data Holders with metadata",
        "operationId": "getRegisterDataHolders",
        "summary": "Get Register Data Holders with metadata",
        "tags": [
          "Register"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ParamUpdatedSince"
          },
          {
            "$ref": "#/parameters/ParamPage"
          },
          {
            "$ref": "#/parameters/ParamPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterDataHolderList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterErrorList"
            }
          },
          "422": {
            "description": "The request was well formed but was unable to be processed due to business logic specific to the request",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterErrorList"
            }
          }
        }
      }
    },
    "/register/recipients": {
      "get": {
        "description": "Get Accredited Data Recipients with metadata",
        "operationId": "getRegisterDataRecipients",
        "summary": "Get Accredited Data Recipients with metadata",
        "tags": [
          "Register"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ParamUpdatedSince"
          },
          {
            "$ref": "#/parameters/ParamPage"
          },
          {
            "$ref": "#/parameters/ParamPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterDataRecipientList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterErrorList"
            }
          },
          "422": {
            "description": "The request was well formed but was unable to be processed due to business logic specific to the request",
            "schema": {
              "$ref": "#/definitions/ResponseRegisterErrorList"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "ParamUpdatedSince": {
      "name": "updated-since",
      "in": "query",
      "description": "Only include software products that have been updated after the specified date and time. If absent defaults to include all software products",
      "required": false,
      "type": "string",
      "format": "date-time",
      "x-cds-type": "DateTimeString"
    },
    "ParamPage": {
      "name": "page",
      "in": "query",
      "description": "Page of results to request (standard pagination)",
      "required": false,
      "type": "integer",
      "x-cds-type": "PositiveInteger",
      "default": "1"
    },
    "ParamPageSize": {
      "name": "page-size",
      "in": "query",
      "description": "Page size to request. Default is 25 (standard pagination)",
      "required": false,
      "type": "integer",
      "x-cds-type": "PositiveInteger",
      "default": "25"
    }
  },
  "definitions": {
    "ResponseRegisterDataHolderList": {
      "description": "Response containing a list of Register Data Holder objects",
      "type": "object",
      "required": [
        "data",
        "links",
        "meta"
      ],
      "properties": {
        "data": {
          "description": "Response data for the query",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterDataHolder"
          }
        },
        "links": {
          "$ref": "#/definitions/LinksPaginated"
        },
        "meta": {
          "$ref": "#/definitions/MetaPaginated"
        }
      }
    },
    "RegisterDataHolder": {
      "description": "A single Data Holder within the Register",
      "type": "object",
      "required": [
        "id",
        "status",
        "participant",
        "endpointDetail",
        "authDetail",
        "lastUpdated"
      ],
      "properties": {
        "id": {
          "description": "Unique Register identifier",
          "type": "string"
        },
        "status": {
          "description": "Registration status of the Data Holder",
          "enum": [
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "participant": {
          "$ref": "#/definitions/RegisterParticipant"
        },
        "endpointDetail": {
          "description": "List of Endpoints",
          "uniqueItems": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterDataHolderServiceEndpoint"
          }
        },
        "authDetail": {
          "description": "List of authorisation methods for Data Holders",
          "uniqueItems": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterDataHolderAuth"
          }
        },
        "lastUpdated": {
          "description": "The date/time that the Data Holder data was last updated in the Register ",
          "type": "string",
          "format": "date-time",
          "x-cds-type": "DateTimeString"
        }
      }
    },
    "LinksPaginated": {
      "type": "object",
      "required": [
        "self"
      ],
      "properties": {
        "first": {
          "description": "URI to the first page of this set. Mandatory if this response is not the first page",
          "type": "string",
          "format": "uri",
          "x-cds-type": "URIString"
        },
        "last": {
          "description": "URI to the last page of this set. Mandatory if this response is not the last page",
          "type": "string",
          "format": "uri",
          "x-cds-type": "URIString"
        },
        "next": {
          "description": "URI to the next page of this set. Mandatory if this response is not the last page",
          "type": "string",
          "format": "uri",
          "x-cds-type": "URIString"
        },
        "prev": {
          "description": "URI to the previous page of this set. Mandatory if this response is not the first page",
          "type": "string",
          "format": "uri",
          "x-cds-type": "URIString"
        },
        "self": {
          "description": "Fully qualified link to this API call",
          "type": "string",
          "format": "uri",
          "x-cds-type": "URIString"
        }
      },
      "x-conditional": [
        "first",
        "last",
        "next",
        "prev"
      ]
    },
    "MetaPaginated": {
      "type": "object",
      "required": [
        "totalPages",
        "totalRecords"
      ],
      "properties": {
        "totalPages": {
          "description": "The total number of pages in the full set",
          "type": "integer",
          "format": "int32",
          "x-cds-type": "PositiveInteger"
        },
        "totalRecords": {
          "description": "The total number of records in the full set",
          "type": "integer",
          "format": "int32",
          "x-cds-type": "PositiveInteger"
        }
      }
    },
    "RegisterAccreditation": {
      "description": "Accreditation information of Data Recipient as per ACCC register",
      "type": "object",
      "required": [
        "accreditationDateTime",
        "accreditationStatus"
      ],
      "properties": {
        "accreditationDate": {
          "description": "The date that the Data Recipient was accredited",
          "type": "string",
          "format": "date",
          "x-cds-type": "DateString"
        },
        "accreditationStatus": {
          "description": "The current accreditation status on the register. This reflects the life cycle of participation in the CDR",
          "enum": [
            "ACTIVE",
            "SUSPENDED",
            "REVOKED",
            "SURRENDERED"
          ],
          "type": "string"
        }
      }
    },
    "RegisterParticipant": {
      "description": "Represents a single participant (Data Holder / Data Recipient) within the Register",
      "type": "object",
      "required": [
        "displayName",
        "participantType",
        "sector",
        "organisation"
      ],
      "properties": {
        "displayName": {
          "description": "Display full name of the participant",
          "type": "string"
        },
        "shortName": {
          "description": "Display short name of the participant",
          "type": "string"
        },
        "participantType": {
          "enum": [
            "HOLDER",
            "RECIPIENT"
          ],
          "type": "string"
        },
        "sector": {
          "description": "The sector that the registration pertains to (e.g. Banking)",
          "enum": [
            "BANKING"
          ],
          "type": "string",
          "x-cds-type": "ASCIIString"
        },
        "organisation": {
          "$ref": "#/definitions/CommonOrganisationDetail"
        }
      }
    },
    "RegisterDataHolderAuth": {
      "description": "Provides details of authorisation endpoints for Data Holders",
      "type": "object",
      "required": [
        "registerUType",
        "jwks",
        "hybridFlow"
      ],
      "properties": {
        "registerUType": {
          "$ref": "#/definitions/RegisterAuthType"
        },
        "jwks": {
          "$ref": "#/definitions/RegisterJWK"
        },
        "hybridFlow": {
          "description": "Detail for Hybrid flow for DSB standard version",
          "uniqueItems": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterDataHolderAuthHybridFlow"
          }
        }
      }
    },
    "RegisterDataHolderAuthHybridFlow": {
      "description": "Provides specific detail for Hybrid flow",
      "type": "object",
      "required": [
        "version",
        "redirectUri"
      ],
      "properties": {
        "version": {
          "description": "Consumer Data Standard Version",
          "type": "string",
          "x-cds-type": "ASCIIString"
        },
        "redirectUri": {
          "description": "The endpoint for the Data Recipient to redirect to the Data Holder's website for the consumer to authorise the Data Recipient",
          "type": "string",
          "x-cds-type": "URIString"
        }
      }
    },
    "RegisterAuthType": {
      "type": "string",
      "description": "The type of authentication and authorisation in use",
      "enum": [
        "HYBRIDFLOW-JWKS"
      ]
    },
    "RegisterDataHolderServiceEndpoint": {
      "description": "Endpoints related to Data Holder services",
      "type": "object",
      "required": [
        "version",
        "publicBaseUri",
        "resourceBaseUri",
        "infosecBaseUri",
        "adminBaseUri",
        "websiteUri",
        "termsofServiceUri",
        "logoUri",
        "consentLogoUri"
      ],
      "properties": {
        "version": {
          "description": "Consumer Data Standard Version",
          "type": "string"
        },
        "publicBaseUri": {
          "description": "Base URI for the Consumer Data Standard public endpoints",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "resourceBaseUri": {
          "description": "Base URI for the Consumer Data Standard resource endpoints",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "infosecBaseUri": {
          "description": "Base URI for the Consumer Data Standard infosec endpoints",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "adminBaseUri": {
          "description": "Base URI for the Consumer Data Standard admin endpoints",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "extensionBaseUri": {
          "description": "Base URI for the Data Holder extension endpoints to the Consumer Data Standard (optional)",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "websiteUri": {
          "description": "Publicly available website or web resource URI",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "logoUri": {
          "description": "URI to retrieve a logo image for general use",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "consentLogoUri": {
          "description": "URI to retrieve a logo image for used during consent",
          "type": "string",
          "x-cds-type": "URIString"
        }
      }
    },
    "RegisterJWK": {
      "type": "object",
      "required": [
        "keys"
      ],
      "properties": {
        "keys": {
          "description": "List of JWK objects",
          "type": "array",
          "minItems": 1,
          "items": {
            "description": "JWK json object",
            "type": "string"
          }
        }
      }
    },
    "CommonOrganisationDetail": {
      "description": "The data that is common to all organisations, regardless of the type (e.g. company, trust, partnership, government)",
      "type": "object",
      "required": [
        "legalName",
        "registeredCountry"
      ],
      "properties": {
        "legalName": {
          "description": "Company Registered in Australia : Unique legal name of the entity. Company Not Registered in Australia : Unique registered name of the entity. Trustee - Organisation:  Unique legal name of the entity. Partner - Organisation : Unique legal name of the entity",
          "type": "string"
        },
        "registrationNumber": {
          "description": "Unique registration number (if the company is registered outside Australia)",
          "type": "string"
        },
        "registrationDate": {
          "description": "Date of registration (if the company is registered outside Australia)",
          "type": "string",
          "format": "date",
          "x-cds-type": "DateString"
        },
        "registeredCountry": {
          "description": "Country of registeration. Enumeration with values from [ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country codes.",
          "default": "AUS",
          "type": "string"
        },
        "abn": {
          "description": "Australian Business Number for the organisation",
          "type": "string"
        },
        "acn": {
          "description": "Australian Company Number for the organisation",
          "type": "string"
        },
        "arbn": {
          "description": "Australian Registered Body Number.  ARBNs are issued to registrable Australian bodies and foreign companies",
          "type": "string"
        },
        "industryCode": {
          "description": "Industry Code for the organisation. [ANZSIC (2006)](http://www.abs.gov.au/anzsic)",
          "type": "string"
        },
        "organisationType": {
          "description": "Legal organisation type",
          "enum": [
            "SOLE_TRADER",
            "COMPANY",
            "PARTNERSHIP",
            "TRUST",
            "GOVERNMENT_ENTITY",
            "OTHER"
          ],
          "type": "string"
        },
        "businessNames": {
          "description": "Business names for the entity",
          "uniqueItems": true,
          "type": "array",
          "items": {
            "description": "Business name for the entity",
            "type": "string"
          }
        }
      }
    },
    "ResponseRegisterErrorList": {
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "code",
              "title",
              "detail"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "title": {
                "type": "string",
                "description": "Error title"
              },
              "detail": {
                "type": "string",
                "description": "Error detail"
              },
              "meta": {
                "type": "object",
                "description": "Optional additional data for specific error types"
              }
            }
          }
        }
      }
    },
    "ResponseRegisterDataRecipientList": {
      "description": "Response containing a list of Register Data Recipients",
      "type": "object",
      "required": [
        "data",
        "links",
        "meta"
      ],
      "properties": {
        "data": {
          "description": "Response data for the query",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterDataRecipient"
          }
        },
        "links": {
          "$ref": "#/definitions/LinksPaginated"
        },
        "meta": {
          "$ref": "#/definitions/MetaPaginated"
        }
      }
    },
    "RegisterDataRecipient": {
      "description": "A single Data Recipient within the Register",
      "type": "object",
      "required": [
        "id",
        "accreditation",
        "participant",
        "products",
        "lastUpdated"
      ],
      "properties": {
        "id": {
          "description": "Unique Register identifier for the Data Recipient",
          "type": "string"
        },
        "accreditation": {
          "$ref": "#/definitions/RegisterAccreditation"
        },
        "participant": {
          "$ref": "#/definitions/RegisterParticipant"
        },
        "products": {
          "description": "List of products / services accredited with this Data Recipient",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterProduct"
          }
        },
        "lastUpdated": {
          "description": "The date/time that the Data Holder data was last updated in the Register ",
          "type": "string",
          "format": "date-time",
          "x-cds-type": "DateTimeString"
        }
      }
    },
    "RegisterProduct": {
      "description": "Details for the software products that are included in the ADR accreditation",
      "type": "object",
      "required": [
        "name",
        "softwareProductDescription",
        "status",
        "accessLevel",
        "endpointDetail",
        "authDetail"
      ],
      "properties": {
        "id": {
          "description": "Unique Register identifier for the Software Product",
          "type": "string"
        },
        "name": {
          "description": "The name of the software product that has been included in the accreditation for the ADR",
          "type": "string"
        },
        "softwareProductDescription": {
          "description": "The description of the software product that has been included in the accreditation for the ADR",
          "type": "string"
        },
        "status": {
          "description": "The current status of the Software Product",
          "enum": [
            "ACTIVE",
            "SUSPENDED",
            "REVOKED",
            "SURRENDERED"
          ],
          "type": "string"
        },
        "accessLevel": {
          "description": "The access level granted to the software product under the accreditation for the ADR",
          "enum": [
            "READONLY",
            "READANDWRITE"
          ],
          "type": "string"
        },
        "endpointDetail": {
          "description": "List of end point details related to the product",
          "uniqueItems": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegisterProductServiceEndPoint"
          }
        },
        "authDetail": {
          "$ref": "#/definitions/RegisterProductAuth"
        }
      }
    },
    "RegisterProductAuth": {
      "description": "Authorisation details per Product",
      "type": "object",
      "required": [
        "registerUType",
        "clientId",
        "jwks"
      ],
      "properties": {
        "registerUType": {
          "$ref": "#/definitions/RegisterAuthType"
        },
        "clientId": {
          "description": "Client id allocated for the product",
          "type": "string"
        },
        "jwks": {
          "$ref": "#/definitions/RegisterJWK"
        }
      }
    },
    "RegisterProductServiceEndPoint": {
      "description": "List of endpoints that are relevant to the product",
      "type": "object",
      "required": [
        "version",
        "infosecBaseUri",
        "adminBaseUri",
        "websiteUri",
        "logoUri",
        "consentLogoUri"
      ],
      "properties": {
        "version": {
          "description": "Consumer Data Standard Version",
          "type": "string"
        },
        "infosecBaseUri": {
          "description": "Base URI for the Consumer Data Standard infosec endpoints, published by the Data Recipient",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "adminBaseUri": {
          "description": "Base URI for the Consumer Data Standard admin endpoints, published by the Data Recipient",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "websiteUri": {
          "description": "The publicly available website or web resource URI",
          "type": "string"
        },
        "logoUri": {
          "description": "The URI to retrieve a logo image for general use",
          "type": "string",
          "x-cds-type": "URIString"
        },
        "consentLogoUri": {
          "description": "The URI to retrieve a logo image for used during consent",
          "type": "string",
          "x-cds-type": "URIString"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Register",
      "description": "Operations related to the Register Discovery API"
    }
  ]
}